/*Bloc qui contient l'image et l'infobulle*/
.nu_infobulle{
width: 100px;
padding: 0px;
position: relative;
margin-top: -15px; 
margin-left: 250px;
}
/*Infobulle*/
.nu_bulle{
background: #090700;
border: 0px solid #1c1706;
color: #c4c4c4;
font-size: 11px
width: 0px;
height: 0px;
position: fixed;
top: 0px;
left: 0px;
transform: translate(0,0);
overflow: hidden;
z-index: 999999; /* au-dessus de TOUT le forum */
text-align: left;
border-radius: 10px;
transition: all 1.5s ease;
}
/*Apparition de l'infobulle au survol*/
.nu_infobulle:hover .nu_bulle{
width: 125px;
height: 250px;
padding: 5px;
border-width: 1px;
max-height: 360px; 
overflow-y: auto; 
overflow-x: hidden;
}
