/*Bloc qui contient l'image et l'infobulle*/
.nu_infobulle{
width: 100px;
padding: 0px;
position: relative;
margin-top: -15px; 
margin-left: 250px;
display: inline-block;     /* ← très utile parfois */
}
/*Infobulle*/
.nu_bulle{
background: #090700;
border: 0px solid #1c1706;
color: #c4c4c4;
width: 0px;
height: 0px;
position: absolute;
top: 10px;
left: 10px;
overflow: hidden;
z-index: 20;
text-align: left;
border-radius: 10px;
opacity: 0;
visibility: hidden;
pointer-events: none;         /* empêche l'interaction quand invisible */
transition: opacity 0.4s ease, visibility 0s linear 0.4s; /* le visibility revient après la fin du fade */
}
/*Apparition de l'infobulle au survol*/
.nu_infobulle:hover .nu_bulle{
width: 125px;
height: 150px;
padding: 5px;
border-width: 1px;
max-height: 150px; 
overflow-y: auto; 
overflow-x: hidden;
opacity: 1;
visibility: visible;
transition-delay: 0s;         /* annule le délai au hover */
}
